.App {
    background-color: rgb(0, 0, 0);
    height: 600px;
}

#poly1 {
    fill: rgb(190, 190, 190);
}

#poly2 {
    fill: rgb(150, 144, 144);
}

#poly3 {
    fill: rgb(212, 195, 195);
}

#poly4 {
    fill: rgb(150, 144, 144);
}

#poly5 {
    fill: rgb(216, 213, 213);
}

#poly6 {
    fill: rgb(216, 213, 213);
}

#poly7 {
    fill: rgb(216, 213, 213);
}

#poly8 {
    fill: rgb(168, 158, 158);
}

#poly9 {
    fill: rgb(216, 213, 213);
}

#poly10 {
    fill: rgb(150, 144, 144);
}

#poly11 {
    fill: rgb(139, 136, 136);
}

#poly12 {
    fill: rgb(216, 213, 213);
}

#poly13 {
    fill: rgb(150, 144, 144);
}

#poly14 {
    fill: rgb(216, 213, 213);
}

#poly15 {
    fill: rgb(128, 123, 123);
}

#poly16 {
    fill: rgb(150, 144, 144);
}

#poly17 {
    fill: rgb(216, 213, 213);
}

#poly18 {
    fill: rgb(216, 213, 213);
}

#poly19 {
    fill: rgb(150, 144, 144);
}

#poly20 {
    fill: rgb(216, 213, 213);
}

#poly20 {
    fill: rgb(216, 213, 213);
}

#poly21 {
    fill: rgb(150, 144, 144);
}

#poly22 {
    fill: rgb(216, 213, 213);
}

#poly23 {
    fill: rgb(216, 213, 213);
}

#poly24 {
    fill: rgb(150, 137, 137);
}

#poly25 {
    fill: rgb(216, 213, 213);
}

#poly26 {
    fill: rgb(124, 117, 117);
}